<!-- A Director has many movies -->

<div class="row mb-3">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Movies
      </li>

      <% @director.movies.each do |movie| %>
        <li class="list-group-item">
          <a href="/movies/<%= movie.id %>">
            <%= movie.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <!-- Show link start -->
            <a href="/movies/<%= movie.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <!-- Show link end -->
            <!-- Edit link start -->
            <a href="/movies/<%= movie.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <!-- Edit link end -->
            <!-- Delete link start -->
            <a href="/delete_movie/<%= movie.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
            <!-- Delete link end -->
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

