<h1>
  All friend requests
</h1>

<a href="/friend_requests/new">
  Add a new friend request
</a>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Sender
    </th>

    <th>
      Recipient
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @friend_requests.each do |friend_request| %>
  <tr>
    <!-- Display friend_request.id start -->
    <td>
      <%= friend_request.id %>
    </td>
    <!-- Display friend_request.id end -->

    <!-- Display friend_request.sender.email start -->
    <td>
      <%= friend_request.sender.email %>
    </td>
    <!-- Display friend_request.sender.email end -->

    <!-- Display friend_request.recipient.email start -->
    <td>
      <%= friend_request.recipient.email %>
    </td>
    <!-- Display friend_request.recipient.email end -->

    <!-- Display friend_request.created_at start -->
    <td>
      <%= time_ago_in_words(friend_request.created_at) %> ago
    </td>
    <!-- Display friend_request.created_at end -->

    <!-- Display friend_request.updated_at start -->
    <td>
      <%= time_ago_in_words(friend_request.updated_at) %> ago
    </td>
    <!-- Display friend_request.updated_at end -->

    <td>
      <a href="/friend_requests/<%= friend_request.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
    <%= paginate @friend_requests, theme: 'twitter-bootstrap-4' %>
