<h1>
  Friend request #<%= @friend_request.id %> details
</h1>
<!-- Edit link friend_request start -->
<a href="/friend_requests/<%= @friend_request.id %>/edit">
  Edit friend request
</a>
<!-- Edit link friend_request end -->
<hr>

<dl>
  <dt>
    Sender
  </dt>
  <!-- Display sender_id start -->
  <dd>
    <%= @friend_request.sender_id %>
  </dd>
  <!-- Display sender_id end -->

  <dt>
    Recipient
  </dt>
  <!-- Display recipient_id start -->
  <dd>
    <%= @friend_request.recipient_id %>
  </dd>
  <!-- Display recipient_id end -->

  <dt>
    Created at
  </dt>
  <!-- Display created_at start -->
  <dd>
    <%= time_ago_in_words(@friend_request.created_at) %> ago
  </dd>
  <!-- Display created_at end -->

  <dt>
    Updated at
  </dt>
  <!-- Display updated_at start -->
  <dd>
    <%= time_ago_in_words(@friend_request.updated_at) %> ago
  </dd>
  <!-- Display updated_at end -->
</dl>

<!-- Delete link friend_request start -->
<a href="/delete_friend_request/<%= @friend_request.id %>">
  Delete friend request
</a>
<!-- Delete link friend_request end -->

<hr>

<a href="/friend_requests">
  Go back
</a>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
