<h1>
  All movies
</h1>

<a href="/movies/new">
  Add a new movie
</a>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Image
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <!-- Display movie.id start -->
    <td>
      <%= movie.id %>
    </td>
    <!-- Display movie.id end -->

    <!-- Display movie.title start -->
    <td>
      <%= movie.title %>
    </td>
    <!-- Display movie.title end -->

    <!-- Display movie.year start -->
    <td>
      <%= movie.year %>
    </td>
    <!-- Display movie.year end -->

    <!-- Display movie.director.name start -->
    <td>
      <%= movie.director.name %>
    </td>
    <!-- Display movie.director.name end -->

    <!-- Display movie.image start -->
    <td>
      <%= movie.image %>
    </td>
    <!-- Display movie.image end -->

    <!-- Display movie.created_at start -->
    <td>
      <%= time_ago_in_words(movie.created_at) %> ago
    </td>
    <!-- Display movie.created_at end -->

    <!-- Display movie.updated_at start -->
    <td>
      <%= time_ago_in_words(movie.updated_at) %> ago
    </td>
    <!-- Display movie.updated_at end -->

    <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
    <%= paginate @movies, theme: 'twitter-bootstrap-4' %>
