<h1>
  All movies
</h1>

<a href="/movies/new">
  Add a new movie
</a>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "movie_templates/search_form" %>
  </div>
</div

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Image
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= movie.id %>
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <% if movie.director.present? %>
        <a href="/directors/<%= movie.director.id %>">
          <%= movie.director.name %>
        </a>
      <% end %>
    </td>

    <td>
      <%= movie.image %>
    </td>

    <td>
      <%= time_ago_in_words(movie.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(movie.updated_at) %> ago
    </td>

    <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @movies, theme: 'twitter-bootstrap-4' %>
