<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Movie #<%= @movie.id %> details
    </h1>

    <a href="/movies/<%= @movie.id %>/edit">
      Edit movie
    </a>

    <hr>

    <dl>
      <dt>
        Title
      </dt>

      <dd>
        <%= @movie.title %>
      </dd>

      <dt>
        Year
      </dt>

      <dd>
        <%= @movie.year %>
      </dd>

      <dt>
        Director
      </dt>

      <dd>
        <% if @movie.director.present? %>
          <a href="/directors/<%= @movie.director_id %>">
            <%= @movie.director.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Image
      </dt>

      <dd>
        <%= @movie.image %>
      </dd>

      <dt>
        Created at
      </dt>

      <dd>
        <%= time_ago_in_words(@movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>

      <dd>
        <%= time_ago_in_words(@movie.updated_at) %> ago
      </dd>
    </dl>

    <a href="/delete_movie/<%= @movie.id %>">
      Delete movie
    </a>

    <hr>

    <a href="/movies">
      Go back
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "movie_templates/movie_characters" %>
  </div>
</div>

<%= render partial: "movie_templates/movie_bookmarks" %>

<%= render partial: "movie_templates/movie_bookmarks_new_form" %>

<%= render partial: "movie_templates/movie_actors" %>

<%= render partial: "movie_templates/movie_leaders" %>

<%= render partial: "movie_templates/movie_fans" %>
