<h1>
  Movie #<%= @movie.id %> details
</h1>
<!-- Edit link movie start -->
<a href="/movies/<%= @movie.id %>/edit">
  Edit movie
</a>
<!-- Edit link movie end -->
<hr>

<dl>
  <dt>
    Title
  </dt>
  <!-- Display title start -->
  <dd>
    <%= @movie.title %>
  </dd>
  <!-- Display title end -->

  <dt>
    Year
  </dt>
  <!-- Display year start -->
  <dd>
    <%= @movie.year %>
  </dd>
  <!-- Display year end -->

  <dt>
    Director
  </dt>
  <!-- Display director_id start -->
  <dd>
    <%= @movie.director_id %>
  </dd>
  <!-- Display director_id end -->

  <dt>
    Image
  </dt>
  <!-- Display image start -->
  <dd>
    <%= @movie.image %>
  </dd>
  <!-- Display image end -->

  <dt>
    Created at
  </dt>
  <!-- Display created_at start -->
  <dd>
    <%= time_ago_in_words(@movie.created_at) %> ago
  </dd>
  <!-- Display created_at end -->

  <dt>
    Updated at
  </dt>
  <!-- Display updated_at start -->
  <dd>
    <%= time_ago_in_words(@movie.updated_at) %> ago
  </dd>
  <!-- Display updated_at end -->
</dl>

<!-- Delete link movie start -->
<a href="/delete_movie/<%= @movie.id %>">
  Delete movie
</a>
<!-- Delete link movie end -->

<hr>

<a href="/movies">
  Go back
</a>

<%= render partial: "movie_templates/movie_characters" %>
<%= render partial: "movie_templates/movie_bookmarks" %>
<%= render partial: "movie_templates/movie_actors" %>
<%= render partial: "movie_templates/movie_leaders" %>
<%= render partial: "movie_templates/movie_fans" %>
