<!-- A User has many sent_friend_requests -->

<div class="row mb-3">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sent Friend Requests
      </li>

      <% @user.sent_friend_requests.each do |friend_request| %>
        <li class="list-group-item">
          <a href="/friend_requests/<%= friend_request.id %>">
            <%= friend_request.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <!-- Show link start -->
            <a href="/friend_requests/<%= friend_request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <!-- Show link end -->
            <!-- Edit link start -->
            <%if current_user == friend_request.sender %>
            <!-- Edit link start -->
            <a href="/friend_requests/<%= friend_request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <!-- Edit link end -->
            <!-- Delete link start -->
            <a href="/delete_friend_request/<%= friend_request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
            <!-- Delete link end -->
            <% end %>
            <!-- Delete link end -->
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

