<h1>
  User #<%= @user.id %> details
</h1>
<!-- Edit link user start -->
<a href="/users/<%= @user.id %>/edit">
  Edit user
</a>
<!-- Edit link user end -->
<hr>

<dl>
  <dt>
    Email
  </dt>
  <!-- Display email start -->
  <dd>
    <%= @user.email %>
  </dd>
  <!-- Display email end -->

  <dt>
    Password
  </dt>
  <!-- Display password start -->
  <dd>
    <%= @user.password %>
  </dd>
  <!-- Display password end -->

  <dt>
    Created at
  </dt>
  <!-- Display created_at start -->
  <dd>
    <%= time_ago_in_words(@user.created_at) %> ago
  </dd>
  <!-- Display created_at end -->

  <dt>
    Updated at
  </dt>
  <!-- Display updated_at start -->
  <dd>
    <%= time_ago_in_words(@user.updated_at) %> ago
  </dd>
  <!-- Display updated_at end -->
</dl>


<hr>

<a href="/users">
  Go back
</a>

<%= render partial: "user_templates/user_sent_friend_requests" %>
<%= render partial: "user_templates/user_received_friend_requests" %>
<%= render partial: "user_templates/user_bookmarks" %>
<%= render partial: "user_templates/user_leaders_movies" %>
<%= render partial: "user_templates/user_leaders" %>
<%= render partial: "user_templates/user_followers" %>
<%= render partial: "user_templates/user_movies" %>
