<!-- Validation failure messages -->
<% if @actor.errors.any? %>
  <% @actor.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit actor #<%= @actor.id %>
</h1>

<hr>

<!-- Form actor start -->
<form action="/update_actor/<%= @actor.id %>" method="post" enctype="multipart/form-data">
<!-- Form actor end -->

  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @actor.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for bio start -->
  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <!-- Input for bio start -->
    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @actor.bio %></textarea>
    <!-- Input for bio end -->
  </div>
  <!-- Label and input for bio end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <%= cl_image_tag(@actor.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <!-- Label and input for dob start -->
  <div class="form-group">
    <label for="dob">
      Dob
    </label>

    <!-- Input for dob start -->
    <input type="text" id="dob" name="dob" class="form-control" value="<%= @actor.dob %>">
    <!-- Input for dob end -->
  </div>
  <!-- Label and input for dob end -->

  <button class="btn btn-block btn-outline-secondary">
    Update actor
  </button>
</form>

<hr>

<a href="/actors">
  Go back
</a>
