<!-- Validation failure messages -->
<% if @casting.present? %>
  <% if @casting.errors.any? %>
    <% @casting.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new casting
</h1>


<hr>

<!-- Form casting start -->
<form action="/create_casting" method="post">
<!-- Form casting end -->

  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <!-- Input for movie_id start -->
    <input type="text" id="movie_id" name="movie_id" class="form-control" value="<%= @casting.try(:movie_id) %>">
    <!-- Input for movie_id end -->
  </div>
  <!-- Label and input for movie_id end -->

  <!-- Label and input for actor_id start -->
  <div class="form-group">
    <label for="actor_id">
      Actor
    </label>

    <!-- Input for actor_id start -->
    <input type="text" id="actor_id" name="actor_id" class="form-control" value="<%= @casting.try(:actor_id) %>">
    <!-- Input for actor_id end -->
  </div>
  <!-- Label and input for actor_id end -->

  <!-- Label and input for character_name start -->
  <div class="form-group">
    <label for="character_name">
      Character name
    </label>

    <!-- Input for character_name start -->
    <input type="text" id="character_name" name="character_name" class="form-control" value="<%= @casting.try(:character_name) %>">
    <!-- Input for character_name end -->
  </div>
  <!-- Label and input for character_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create casting
  </button>
</form>

<hr>

<a href="/castings">
  Go back
</a>
