<h1>
  Bookmark #<%= @bookmark.id %> details
</h1>
<!-- Edit link bookmark start -->
<% if current_user == @bookmark.user %>
  <a href="/bookmarks/<%= @bookmark.id %>/edit">
    Edit bookmark
  </a>
<% end %>
<!-- Edit link bookmark end -->
<hr>

<dl>
  <dt>
    User
  </dt>
  <dd>
    <% if @bookmark.user.present? %>
      <a href="/users/<%= @bookmark.user_id %>">
        <%= @bookmark.user.email %>
      </a>
    <% end %>
  </dd>

  <dt>
    Movie
  </dt>
  <dd>
    <% if @bookmark.movie.present? %>
      <a href="/movies/<%= @bookmark.movie_id %>">
        <%= @bookmark.movie.title %>
      </a>
    <% end %>
  </dd>

  <dt>
    Created at
  </dt>
  <!-- Display created_at start -->
  <dd>
    <%= time_ago_in_words(@bookmark.created_at) %> ago
  </dd>
  <!-- Display created_at end -->

  <dt>
    Updated at
  </dt>
  <!-- Display updated_at start -->
  <dd>
    <%= time_ago_in_words(@bookmark.updated_at) %> ago
  </dd>
  <!-- Display updated_at end -->
</dl>

<!-- Delete link bookmark start -->
<% if current_user == @bookmark.user %>
  <a href="/delete_bookmark/<%= @bookmark.id %>">
    Delete bookmark
  </a>
<% end %>
<!-- Delete link bookmark end -->

<hr>

<a href="/bookmarks">
  Go back
</a>


